.form {
  margin: 20px;
}

.label {
  margin-bottom: 10px;
  display: block;
}

.input {
  display: block;
}

.radio {
  margin-right: 10px;
}

.checkbox {
  margin-right: 10px;
}

.button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  display: block;
}
