.counter {
  margin: 30px auto;
  padding: 20px;
  width: 350px;
  border: 1px solid brown;
  border-radius: 3px;
  text-align: center;
}

.counterValue {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}
.Counter__controls button {
  padding: 5px;
  background-color: tomato;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 2px;
  cursor: pointer;
}
.Counter__controls button:not(:last-child) {
  margin-right: 10px;
}
